.delete-btn {
  background-color: red;
}
.update-btn {
  background-color: #e68a0c;
}
.label {
  color: black;
  font-weight: bold;
}
.show-comments {
  background-color: #e68a0c;
  border: none;
  width: 160px;
  height: 60px;
  padding: 5px;
  margin-top: 5%;
}
